.header {
	text-align: center;
	margin-top: 45px;
}

.header .logo img {
	width: 400px;
	margin-bottom: 45px;
}

.header .ks img {
	max-width: 400px;
	margin-bottom: 30px;
}

.divider {
	background-color: #bf9b30;
    max-width: 500px;
    margin-left: auto;
    height: 1px;
    margin-right: auto;
}

.quote {
	font-family: "Playfair Display", Helvetica, sans-serif;
	text-align: center;
	font-size: 32px;
	color: #404040;
	margin-top: 45px;
	max-width: 800px;
	margin-left: auto;
    margin-right: auto;
    line-height: 60px;
}

